// ----------------------------------------
// Color
// ----------------------------------------
red = #94002e
green = #009688
blue = #006c9f
black = #222
white = #fff
gray = #e0e0e0

default_font_family = s(' "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif ')